<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
       <add name="dbconnection" connectionString="Data Source = KAZI\SQLEXPRESS; Initial Catalog = JOB_PORTAL_DB; Integrated Security = True; Connect Timeout=60; Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
   </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
