<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IApplicant" />
                <binding name="BasicHttpBinding_ISystem" />
                <binding name="BasicHttpBinding_ICompany" />
                <binding name="BasicHttpBinding_ISecurity" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/Applicant/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicant"
                contract="ApplicantService.IApplicant" name="BasicHttpBinding_IApplicant" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/System/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystem"
                contract="SystemService.ISystem" name="BasicHttpBinding_ISystem" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/Company/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompany"
                contract="CompanyService.ICompany" name="BasicHttpBinding_ICompany" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/Security/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurity"
                contract="SecurityService.ISecurity" name="BasicHttpBinding_ISecurity" />
        </client>
    </system.serviceModel>
</configuration>